:root{
    --bigslider:#0d0620;
    --dotcolor:#7f0dff;
    --arrowColor:#fff;
}

.bigSlider {
  background-color: var(--bigslider);
  margin: 0 auto;
  /* outline: 1px solid yellowgreen; */
}


.bigSlider > div img {
  /* outline: 1px solid red; */
  padding: 0 8px;
  border-radius: 24px;
  user-select: none;
  
}

.bigSlider > div p{
  color: var(--arrowColor);
  position: relative;
  opacity: 0.9;
  top: -39px;
  margin-top: -105px;
  padding: 105px 30px 15px;
  font-size: 20px;
  /* outline: 1px solid rebeccapurple; */
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.8) 0px -150px 46px -58px inset;
  /* border: 1px solid red; */
}

.carousel-root {
  height: min-content;
}

.carousel .control-dots .dot{
    background: var(--dotcolor) !important;
}



.prevButton,
.nextButton{
  outline: none;
  border: none;
  position: absolute;
  height: 100%;
  top: 0%;
  padding: 0 80px;
  background-color: transparent;
  color: var(--arrowColor);
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
}
.nextButton{
  right: 0;
}
