:root{
    --bigslider:#0d0620;
    --dotcolor:#7f0dff;
}

.bigSlider {
  background-color: var(--bigslider);
  margin: 0 auto;
  padding: 30px;
  /* outline: 1px solid yellowgreen; */
}

.bigSlider > div {
  padding: 0px 0px 50px;
  /* outline: 1px solid red; */
}

.bigSlider > div img {
  padding: 0 8px;
  border-radius: 24px;
}

.carousel-root {
  height: min-content;
}

.carousel .control-dots .dot{
    background: var(--dotcolor) !important;
}

.carousel.carousel-slider .control-arrow{
    width: 100px;
}