.smallslider{
  background-color: var(--bigslider);
  color:var(--white);
  padding-top: 10px;
}

.smallslider h4{
  padding: 5px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid red; */
}

.smallslider h4 button{
  border: none;
  padding: 6px;
  font-weight: bold;
  border-radius: 4px;
  background-color: var(--secondary);
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s ease;
}

.smallslider h4 button:hover{
  background-color: var(--white);
  color: var(--secondary);
}

.smallslider h4 button:active{
  background-color: var(--white);
  color: var(--secondary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.smallslider h4 span{
  /* outline: 1px solid red; */
  font-size: 1.5rem;
  font-weight: lighter;
}

.items {
  /* background-color: yellow; */
  /* outline: 1px solid red; */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 100% ;
  height: 300px;
  border-radius: 14px;
  margin: 1px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.items:hover{
  background-size: 110%;
}

@media (width<=1280px) {
  .items {
    height: 280px;
  }
}
@media (width<=1075px) {
  .items {
    height: 230px;
  }
}

@media (width<=926px){
  .items {
    height: 200px;
  }
}

@media (width<=820px){
  .items {
    height: 175px;
  }
}

@media (width<=768px){
  .items {
    height: 150px;
    border-radius: 10px;
  }
}
@media (width<=620px){
  .smallslider h4 span{
    font-size: 1rem;
  }
  .smallslider h4 button{
    font-size: 0.6rem;
    padding: 4px;
  }
  .items {
    height: 120px;
  }
}

@media (width<=540px){
  .items {
    height: 100px;
  }
}

@media (width<=500px){
  .items {
    height: 90px;
  }
}

@media (width<=430px){
  .items {
    height: 70px;
  }
}

@media (width<420px){
  .items {
    height: 185px;
  }
  .smallslider h4 {
    padding: 0 5px;
  }
}

@media (width<=375px){
  .smallslider h4 span{
    font-size: 0.6rem;
  }
  .items {
    height: 168px;
  }
}
@media (width<=330px){
  .items {
    height: 150px;
  }
}
@media (width<=300px){
  .items {
    height: 135px;
  }
}
@media (width<=280px){
  .items {
    height: 125px;
  }
}